* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.joinus {
    text-decoration: none;
    margin-top: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    outline: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    padding: 15px 45px;
}

.joinus:hover {
    border: none;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
}


/* 
.joinus:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.joinus:active {
    color: #000
}

.joinus:active:after {
    background: transparent;
}

.joinus:hover:before {
    opacity: 1;
}

.joinus:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

.name {
    color: #fff;
} */