* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v155_171 {
    width: 100%;
    height: 3288px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v155_172 {
    width: 100%;
    height: 893px;
    background: url("assets\images\gdsc_ilustration.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1253px;
    left: 0px;
    overflow: hidden;
}

.v155_173 {
    width: 100%;
    height: 893px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v155_174 {
    width: 422px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 159px;
    left: 509px;
    font-family: Rubik;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v155_175 {
    width: 138px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 79px;
    left: 651px;
    font-family: Spartan;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
}

.v155_176 {
    width: 173px;
    height: 246px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 299px;
    left: 1020px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v155_177 {
    width: 114px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 175px;
    left: 29px;
    font-family: Rubik;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v155_178 {
    width: 173px;
    height: 173px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 0px;
    border: 9px solid rgba(251, 188, 4, 1);
    border-top-left-radius: 185px;
    border-top-right-radius: 185px;
    border-bottom-left-radius: 185px;
    border-bottom-right-radius: 185px;
    overflow: hidden;
}

.v155_179 {
    width: 174px;
    height: 246px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 567px;
    left: 776px;
    overflow: hidden;
}

.v155_180 {
    width: 111px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 163px;
    left: 32px;
    font-family: Rubik;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v155_181 {
    width: 174px;
    height: 173px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 26px;
    left: 0px;
    border: 9px solid rgba(234, 67, 53, 1);
    border-top-left-radius: 185px;
    border-top-right-radius: 185px;
    border-bottom-left-radius: 185px;
    border-bottom-right-radius: 185px;
    overflow: hidden;
}

.v155_182 {
    width: 174px;
    height: 246px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 567px;
    left: 1020px;
    overflow: hidden;
}

.v155_183 {
    width: 89px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 163px;
    left: 43px;
    font-family: Rubik;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v155_184 {
    width: 174px;
    height: 173px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 26px;
    left: 0px;
    border: 9px solid rgba(52, 168, 83, 1);
    border-top-left-radius: 185px;
    border-top-right-radius: 185px;
    border-bottom-left-radius: 185px;
    border-bottom-right-radius: 185px;
    overflow: hidden;
}

.v155_185 {
    width: 173px;
    height: 246px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 299px;
    left: 289px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v155_186 {
    width: 81px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 175px;
    left: 46px;
    font-family: Rubik;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v155_187 {
    width: 173px;
    height: 173px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 0px;
    border: 9px solid rgba(234, 67, 53, 1);
    border-top-left-radius: 185px;
    border-top-right-radius: 185px;
    border-bottom-left-radius: 185px;
    border-bottom-right-radius: 185px;
    overflow: hidden;
}

.v155_188 {
    width: 173px;
    height: 246px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 299px;
    left: 532px;
    overflow: hidden;
}

.v155_189 {
    width: 97px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 175px;
    left: 38px;
    font-family: Rubik;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v155_190 {
    width: 173px;
    height: 173px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 0px;
    border: 9px solid rgba(54, 168, 82, 1);
    border-top-left-radius: 185px;
    border-top-right-radius: 185px;
    border-bottom-left-radius: 185px;
    border-bottom-right-radius: 185px;
    overflow: hidden;
}

.v155_191 {
    width: 173px;
    height: 246px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 299px;
    left: 777px;
    overflow: hidden;
}

.v155_192 {
    width: 103px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 175px;
    left: 35px;
    font-family: Rubik;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v155_193 {
    width: 173px;
    height: 173px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 0px;
    border: 9px solid rgba(66, 133, 244, 1);
    border-top-left-radius: 185px;
    border-top-right-radius: 185px;
    border-bottom-left-radius: 185px;
    border-bottom-right-radius: 185px;
    overflow: hidden;
}

.v155_194 {
    width: 173px;
    height: 246px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 567px;
    left: 289px;
    overflow: hidden;
}

.v155_195 {
    width: 65px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 166px;
    left: 69px;
    font-family: Rubik;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v155_196 {
    width: 173px;
    height: 173px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 26px;
    left: 0px;
    border: 9px solid rgba(66, 133, 244, 1);
    border-top-left-radius: 185px;
    border-top-right-radius: 185px;
    border-bottom-left-radius: 185px;
    border-bottom-right-radius: 185px;
    overflow: hidden;
}

.v155_197 {
    width: 174px;
    height: 246px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 567px;
    left: 532px;
    overflow: hidden;
}

.v155_198 {
    width: 104px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 166px;
    left: 33px;
    font-family: Rubik;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v155_199 {
    width: 174px;
    height: 173px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 26px;
    left: 0px;
    border: 9px solid rgba(251, 188, 4, 1);
    border-top-left-radius: 185px;
    border-top-right-radius: 185px;
    border-bottom-left-radius: 185px;
    border-bottom-right-radius: 185px;
    overflow: hidden;
}

.v155_200 {
    width: 100%;
    height: 600px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 653px;
    left: 0px;
    overflow: hidden;
}

.v155_201 {
    width: 100%;
    height: 600px;
    background: rgba(255, 255, 255, 0);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v155_202 {
    width: 480px;
    height: 360px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 120px;
    left: 240px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.v155_203 {
    width: 422px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 196px;
    left: 783px;
    font-family: Rubik;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v155_204 {
    width: 135px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 143px;
    left: 780px;
    font-family: Spartan;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: left;
}

.v155_205 {
    width: 193px;
    height: 135px;
    background: url("../images/v155_205.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 323px;
    left: 799px;
    overflow: hidden;
}

.v155_206 {
    width: 193px;
    height: 29px;
    background: url("../images/v155_206.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v155_207 {
    width: 158px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v155_208 {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 0px;
    border-radius: 50%;
}

.v155_209 {
    width: 193px;
    height: 29px;
    background: url("../images/v155_209.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 53px;
    left: 0px;
    overflow: hidden;
}

.v155_210 {
    width: 158px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v155_211 {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 0px;
    border-radius: 50%;
}

.v155_212 {
    width: 193px;
    height: 29px;
    background: url("../images/v155_212.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 106px;
    left: 0px;
    overflow: hidden;
}

.v155_213 {
    width: 158px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 35px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v155_214 {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 0px;
    border-radius: 50%;
}

.v155_215 {
    width: 480px;
    height: 342px;
    background: url("../images/v155_215.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 129px;
    left: 176px;
    border-top-left-radius: 171px;
    border-top-right-radius: 171px;
    border-bottom-left-radius: 171px;
    border-bottom-right-radius: 171px;
    overflow: hidden;
}

.v155_216 {
    width: 100%;
    height: 732px;
    background: url("../images/v155_216.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2146px;
    left: 0px;
    overflow: hidden;
}

.v155_217 {
    width: 100%;
    height: 732px;
    background: rgba(255, 255, 255, 0);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v155_218 {
    width: 422px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 188px;
    left: 509px;
    font-family: Rubik;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v155_219 {
    width: 143px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 112px;
    left: 649px;
    font-family: Spartan;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v155_224 {
    width: 100%;
    height: 589px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 64px;
    left: 5px;
    overflow: hidden;
}

.v155_225 {
    width: 100%;
    height: 700px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v155_226 {
    width: 670px;
    height: 478px;
    background: url("../images/v155_226.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 56px;
    left: 601px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.v155_227 {
    width: 399px;
    height: 126px;
    background: url("../images/v155_227.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 186px;
    left: 226px;
    overflow: hidden;
}

.v155_228 {
    width: 399px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Spartan;
    font-weight: Medium;
    font-size: 56px;
    opacity: 1;
    text-align: left;
}

.v155_229 {
    width: 45px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 6px;
    left: 741px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
}

.v170_105 {
    width: 151px;
    height: 50px;
    background: url("../images/v170_105.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 345px;
    left: 226px;
    overflow: hidden;
}

.v155_230 {
    width: 151px;
    height: 50px;
    background: url("../images/v155_230.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}

.v155_231 {
    width: 60px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 13px;
    left: 46px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.v155_232 {
    width: 100px;
    height: 100px;
    background: url("../images/v155_232.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 284px;
    left: 881px;
    overflow: hidden;
}

.more {
    display: none;
}

.name {
    color: #fff;
}